header{
    background-color: #658CBB;
   
    color:white;
    text-align: center;
}
footer{
    
    background-color: yellow;
    opacity: 50%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;


}
p {
    text-align: justify;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
  }